
 
/* ID에 CSS주는 경우 */
#my-button {
    -fx-text-fill: blue;
    -fx-border-color:  blue;
    -fx-padding: 6  6  6  6;
}

/* styleClass에 주는 경우 */
.num-button  {
    -fx-background-color: white, rgb(189,218,230), white;
    -fx-background-radius: 50%;
    -fx-background-insets: 0, 1, 2;
    -fx-font-family:  "Helvetica";
    -fx-text-fill:  black;
    -fx-font-size:  20px;
}